<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var maxHistory = 5;
		var addButton = $(".add_button");
		var wrapper = $(".form_wrapper");
		var x=1;

		$(addButton).click(function(e){
			e.preventDefault();
			if(x < maxHistory){
				x++;
				$(wrapper).append('<div id="'+x+'"class="row"><div class="col-sm-2"><input type="text" id="college_school_name" name = "college_school_name" placeholder="Name"></div><div class="col-sm-2"><input type="text" id="university" name = "university" placeholder="Affiliated University"></div><div class="col-sm-1"><input type="date" id="datefrom" name = "datefrom" placeholder="Classes start date"></div><div class="col-sm-1"><input type="date"  id="dateto" name = "dateto" placeholder="Classes end date"></div><div class="col-sm-2"><input type="text" id="qualification" name = "qualification" placeholder="Degree from this College"></div><div class="col-sm-2"><input type="text" id="grade_percentage" name = "grade_percentage" placeholder="Grade/Percentage earned"></div><div class="col-sm-1"><button type="button" name="'+x+'"class="remove_button'+x+'">x</button></div><hr width="2px""></div>');
			$(".remove_button"+x).click(function(e){
				e.preventDefault();
			    var id = $(this).attr("name");
			    console.log(id);
				$("#"+id).remove();
				x--;
			 });
			}
		});
	});
</script>
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
		<h1> Add student history</h1>
		<form th:action="@{/submit}" method="POST">
			<div class="form_wrapper">
					<div class="row">
						<div class="col-md-3">
							<label for="student_id">Student ID : </label>
						</div>
						<div class="col-md-3">
							<input type="text" id="student_id" name = "student_id" placeholder="Student ID">
						</div>
						<div class="col-md-3">
								<button type="button" class="add_button" >+</button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="college_school_name">College/School Name : </label>
						</div>
						<div class="col-sm-2">
							<label for="university">College/School University : </label>
						</div>
						<div class="col-sm-1">
							<label for="datefrom">Date From: </label>
						</div>
						<div class="col-sm-1">
							<label for="dateto">Date To : </label>
						</div>
						<div class="col-sm-2">
							<label for="qualification">Qualification got : </label>
						</div>
						<div class="col-sm-2">
							<label for="grade_percentage">Grade/Percentage : </label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
						<input type="text" id="college_school_name" name = "college_school_name" placeholder="Name">
						</div>
						<div class="col-sm-2">
						<input type="text" id="university" name = "university" placeholder="Affiliated University">
						</div>
						<div class="col-sm-1">
							<input type="date" id="datefrom" name = "datefrom" placeholder="Classes start date">
						</div>
						<div class="col-sm-1">
							<input type="date" id="dateto" name = "dateto" placeholder="Classes end date">
						</div>
						<div class="col-sm-2">
							<input type="text" id="qualification" name = "qualification" placeholder="Degree from this College">
						</div>
						<div class="col-sm-2">
							<input type="text" id="grade_percentage" name = "grade_percentage" placeholder="Grade/Percentage earned">
						</div>
					</div>
					
			</div>
		</form>
	</div>
	
</body>
</html>